# Banco de Dados Local (NUNCA deve ir para o GitHub)
/db.sqlite3
/db.sqlite3-journal
tom_preventiva.sql

# Variáveis de ambiente (NUNCA comitar .env real)
.env
.env.local
*.env

admin

# Uploads e Evidências dos Técnicos (mantém a pasta, ignora o conteúdo)
/uploads/*
!/uploads/.gitkeep

# Arquivos do Sistema Operacional e Editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs e arquivos temporários
*.log

#SQL
tom_preventiva.sql
